[submodule "terraform-aws-pavan"]
	path = terraform-aws-pavan
	url = https://github.com/prb71/terraform-aws-pavan.git
[submodule "terraform-aws-vpc"]
	path = terraform-aws-vpc
	url = https://github.com/prb71/terraform-aws-vpc.git
